[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Anne Bonny (anne-bonny)
[access "refs/for/refs/*"]
	read = group user/Anne Bonny (anne-bonny)
	push = group user/Anne Bonny (anne-bonny)
	label-Code-Review = -2..+2 group user/Anne Bonny (anne-bonny)
	label-Verified = -1..+1 group user/Anne Bonny (anne-bonny)
	rebase = group user/Anne Bonny (anne-bonny)
	removeReviewer = group user/Anne Bonny (anne-bonny)
	submit = group user/Anne Bonny (anne-bonny)
[access "refs/heads/*"]
	read = group user/Anne Bonny (anne-bonny)
	create = group user/Anne Bonny (anne-bonny)
	push = +force group user/Anne Bonny (anne-bonny)
	pushMerge = group user/Anne Bonny (anne-bonny)
[access "refs/tags/*"]
	push = group user/Anne Bonny (anne-bonny)
	push = +force group user/Anne Bonny (anne-bonny)
